<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DSN" value="Password=Diosesamor1**;Persist Security Info=True;User ID=sa;Initial Catalog=CustomOrders;Data Source=LAP-JPALACIOS\\JSPV2SQLEXPRESS"/>
  </appSettings>
</configuration>

<!--<configuration>
  <configSections>
    <section name="myCustomConfig" type="MyNamespace.MyClass, MyLib" />
  </configSections>
  <myCustomConfig>
    <myAccount id="007" />
  </myCustomConfig>
</configuration>-->